@import url("https://fonts.googleapis.com/css?family=Pacifico");

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-title {
  color: teal;
  font-family: "Pacifico", cursive;
  font-size: 50px;
}

.add-reservation-btn {
  text-decoration: none;
  font: bold 20px Roboto;
  color: chocolate;
  background-color: gainsboro;
  border-color: black;
  border-radius: 5px;
  padding: 6px 10px;
  box-shadow: 5px 5px chocolate;
}
